/*@gvkit:if auth*/
/*@gvkit:if insideFrontend*/
PUBLIC_AUTH_URL=__AUTH_URL__
/*@gvkit:endif*/
/*@gvkit:if authEmailOtp*/
PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
/*@gvkit:endif*/
/*@gvkit:endif*/
